@import 'aplayer-ts/src/css/base.css';

html.dark .aplayer {
  background: #1e1e1e;
}

html.dark .aplayer .aplayer-list ol li {
  border-top: 1px solid #161616;
}

html.dark .aplayer .aplayer-list ol li.aplayer-list-light {
  background: #161616;
}

html.dark .aplayer.aplayer-withlist .aplayer-info {
  border-bottom: 1px solid #161616;
}

html.dark .aplayer .aplayer-lrc::before,
html.dark .aplayer .aplayer-lrc::after {
  background: linear-gradient(180deg,
      rgba(30, 30, 30, 0) 0,
      rgba(30, 30, 30, 0.8));
}

html.dark .aplayer .aplayer-list ol li:hover {
  background: #101010;
}