@import './md.css';

html,
body,
#app {
  height: 100%;
  margin: auto;
  padding: 0;
}

:root {
  --card-bg: #fff;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scrollbar-gutter: stable;
}

html.dark {
  --card-bg: #1e1e1e;
  color: #e5e7eb;
  background: #121212;
}

body {
  max-width: 1280px;
  font-size: 14px;
}

#nprogress {
  pointer-events: none;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(13, 148, 136, 0.75);
  height: 2px;
  transform: translateX(-100%);
  transition: transform 200ms ease, opacity 200ms linear 200ms;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}
